<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hero - Add</title>
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
    <style>
        .hero-list img {
            width: 100px;
        }
        .hero-list .inputBox{
            width: 100px;
            height: 35px;
            line-height: 35px;
            text-align: center;
            border-radius: 5px;
            background-color: #dadada;
            color: #666;
            cursor: pointer;
        }
    </style>
</head>

<body>
    <header>
        <div class="page-header container">
            <h1>王者荣耀 <small>英雄管理器</small></h1>
        </div>
    </header>
    <div class="container hero-list">
        <form action="/add" method="POST" enctype="multipart/form-data" id="myForm">
            <table class="table table-hover">
                <tr>
                    <td>姓名：</td>
                    <td><input type="text" name="name"></td>
                </tr>
                <tr>
                    <td>性别：</td>
                    <td><input id="nan" name="gender" value="男" type="radio"><label for="nan">男</label> <input name="gender"
                            value="女" type="radio" id="nv"><label for="nv">女</label></td>
                </tr>
                <tr>
                    <td>头像：</td>
                    <td>
                        <label for="img">
                            <div class="inputBox">选择文件</div>
                        </label>
                        <input type="file" name="img" id="img" style="display:none;">
                        <img src="" alt="" id="photo">
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" id="sub"></td>
                </tr>
            </table>
        </form>
        <!-- <img src="" alt="" id="test"> -->
    </div>

    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script>
        $("#img").on("change", function () {
            var file = this.files[0];
            var read = new FileReader() // 创建FileReader对像;
            read.readAsDataURL(file) // 调用readAsDataURL方法读取文件;
            read.onload = function () {
                url = this.result;
                $("#photo").attr("src", url);
            }
            // ----------
            var formdata = new FormData();
            formdata.append("name", "kk");
            formdata.append("img", file);
            // console.log(formdata);
            // console.log(formdata.values());
            // console.log(formdata.get("name"));
            // console.log(formdata.get("img"));
            // var data = $("form").serialize();
            // console.log(data);

            // 上传图片
            $.ajax({
                url: "/postUpload",
                type: "POST",
                data: formdata,
                processData: false,
                contentType: false,
                dataType: "json",
                success: function (result) {
                    if (result.code == 1) {
                        console.log(result);
                        $("#photo").attr("src", "/images/" + result.path);
                    }
                },
                error: function (err) {
                    console.log(err);
                }
            });
        });

        $("#sub").on("click", function (e) {
            e.preventDefault();
            var data = $("form").serialize();
            data = data + "&img=" + $("#photo").attr("src");
            console.log(data);

            $.ajax({
                url: "/add",
                type: "POST",
                data: data,
                dataType: "json",
                success: function (res) {
                    console.log(res);
                    if (res.code === 1) {
                        alert(res.msg);
                        window.location.href = "/";
                    }
                },
                error: function (err) {
                    console.log(err);
                }
            })
        })
    </script>
</body>

</html>