<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1,minimum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Avatars - Manage</title>
    <link rel="shortcut icon" href="../../favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../../node_modules/bootoast/dist/bootoast.min.css">
    <link rel="stylesheet" href="../../node_modules/bootstrapvalidator/dist/css/bootstrapValidator.min.css">
    <style>
        .hero-list a {
            text-decoration: none;
        }
        .hero-list img {
            width: 50px;
            /* height: 50px; */
            display: block
        }

        .hero-list td {
            height: 50px;
            line-height: 50px;
        }
        .btn{
            padding: 2px 4px;
        }
        #tbody tr:nth-child(1)>td:last-child{
            border-top: none;
        }
        .modal-body form{ }
        .modal-body form img{
            width: 100px;
        }
        #tbody{
            min-width: 375px;
        }
    </style>
</head>

<body>
    <header>
        <div class="page-header container">
            <h1>Avatars <small>Manager</small></h1>
        </div>
    </header>
    <div class="container hero-list">
        <a class="btn btn-success pull-right" href="javacript:void(0);" data-toggle="modal" data-target="#editModal"
            data-type="add" onclick="clearForm()">Add</a>
        <table class="table table-hover">
            <thead>
                <th>NO</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Avatar</th>
                <th>Options</th>
            </thead>
            <tbody id="tbody">
                <script id="list" type="text/html">
                    {{each heros}}
                    <tr>
                        <td>{{$index+1}}</td>
                        <td>{{$value.name}}</td>
                        {{if $value.gender == 'man'}}
                        <td>M</td>
                        {{else}}
                        <td>G</td>
                        {{/if}}
                        <td><img src="{{$value.img}}" onerror="javacript:this.src='/images/404.jpg'"/></td>
                        <td style="display:flex;">
                            <a href="javascript:;" class="edit">
                                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#editModal" 
                                data-id="{{$value.id}}" data-type="edit"
                                onclick="clearForm()"
                                >Edit</button>
                            </a>
                            &nbsp;
                            <a href="javascript:;" class="del">
                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal"
                                data-name="{{$value.name}}" 
                                data-id="{{$value.id}}">Delete</button>
                            </a>
                        </td>
                    </tr>
                    {{/each}}
                </script>
            </tbody>
        </table>
    </div>

    <!-- 删除模态框 -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <!-- <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div> -->
                <div class="modal-body" style="text-align:center;">
                    Are you sure about deletting <span class="delete-name" style="color:red;"></span> ?
                </div>
                <div class="modal-footer" style="text-align:center;">
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    <button type="button" class="btn btn-danger deleteBtn" data-dismiss="modal">Yes</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 编辑模态框 -->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myEditModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myEditModal" style="text-align: center;"></h4>
                </div>
                <div class="modal-body" style="text-align:center;">
                    <style> #myform .fr{float: right;} #myForm>.table{margin-bottom: 0;}</style>
                    <form enctype="multipart/form-data" id="myForm" class="required-validate">
                        <table class="table table-hover">
                            <tr>
                                <td class="col-sm-3 col-xs-3 col md-3">姓名：</td>
                                <td class="col-sm-6 col-xs-6 col md-6" style="text-align:left;">
                                    <input type="text" name="name" required data-bv-notempty-message="can not be empty !">
                                </td>
                            </tr>
                            <tr>
                                <td class="col-sm-3 col-xs-3 col md-3">性别：</td>
                                <td class="col-sm-6 col-xs-6 col md-6" style="text-align:left;"><input id="nan" name="gender"
                                        value="man" type="radio"><label for="nan">男</label>
                                    <input name="gender" value="woman" type="radio" id="nv"><label for="nv">女</label></td>
                            </tr>
                            <tr>
                                <td class="col-sm-3 col-xs-3 col md-3">头像：</td>
                                <td class="col-sm-6 col-xs-6 col md-6" style="text-align:left;">
                                    <label for="img">
                                        <div class="inputBox">选择文件</div>
                                    </label>
                                    <input type="file" name="img" id="img" style="display:none;">
                                    <img src="" alt="" id="photo">
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
                <div class="modal-footer" style="text-align:center;">
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    <button type="button" class="btn btn-danger editOption">Yes</button>
                </div>
            </div>
        </div>
    </div>

    <script src="../../node_modules/art-template/lib/template-web.js"></script>
    <script src="../../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../../node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../../node_modules/bootoast/dist/bootoast.min.js"></script>
    <script src="../../js/index.js"></script>
</body>

</html>